<section class="layout">
  <h1 class="header">{{ store.resource() | titlecase }}</h1>

  <div class="search">
    <app-com-input-text
      [control]="store.queryForm()"
      fontSize="20px"
      [placeholder]="store.searchPlaceHolder()"
    ></app-com-input-text>
  </div>

  <div class="container">
    <router-outlet />
  </div>

  <div class="loadMore">
    @if (!store.isLoading() && store.hasNextPage()) {
    <button class="loadMore__button" (click)="store.loadMore()">
      Load more {{ store.resource() }}
    </button>
    }
  </div>
</section>
