.path {
  stroke: #101828;
  fill: #fff;

  &:hover {
    stroke: #feb273;
    fill: #fff;
  }

  &--checked {
    stroke: #feb273;
    fill: #feb273;

    &:hover {
      stroke: #feb273;
      fill: #feb273;
    }
  }
}
