@use "../../styles.scss";

.container {
  margin: 24px;
  padding: 24px;
  border-radius: 16px;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-shadow: 0px 0px 12px 0px #00000026;
}

.header {
  font-size: 700;
  font-size: 36px;
  margin-bottom: 16px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 24px;

  &__label {
    font-weight: 600;
    font-size: 20px;
    min-width: 100px;
  }

  &__value {
    font-weight: 400;
    font-size: 24px;
  }
}

@media screen and (min-width: styles.$non-mobile-bp) {
  .container {
    padding: 60px 60px 24px 60px;
    margin: 24px;
  }

  .header {
    margin-bottom: 48px;
  }

  .row {
    &__label {
      font-weight: 600;
      font-size: 24px;
    }

    &__value {
      font-weight: 400;
      font-size: 24px;
    }
  }
}
