<div class="container">
  <div class="row">
    <p class="row__label">name:</p>
    <p>{{ store.book.name() }}</p>
  </div>

  <div class="row">
    <p class="row__label">isbn:</p>
    <p>{{ store.book.isbn() }}</p>
  </div>

  <div class="row">
    <p class="row__label">authors:</p>
    @for (author of store.book.authors(); track $index) {
    <p>{{ author }}</p>
    }
  </div>

  <div class="row">
    <p class="row__label">Number Of Pages:</p>
    <p>{{ store.book.numberOfPages() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Publisher:</p>
    <p>{{ store.book.publisher() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Country:</p>
    <p>{{ store.book.country() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Media Type:</p>
    <p>{{ store.book.mediaType() }}</p>
  </div>

  <div class="row">
    <p class="row__label">released:</p>
    <p>{{ store.book.released() }}</p>
  </div>

  <!-- <div class="row">
    <p>characters:</p>
    <p>{{ store.book.characters() }}</p>
  </div> -->

  <div class="row">
    <p class="row__label">POV Characters:</p>
    <p>{{ store.book.povCharacters() }}</p>
  </div>
</div>
