<div class="container">
  <div class="fav" (click)="favStore.updateFavorites('books/' + bookId())">
    <app-com-svg-star
      [checked]="favStore.isFavored('books', +bookId())"
    ></app-com-svg-star>
  </div>
  <h1 class="header">{{ store.book.name() }}</h1>

  <div class="row">
    <p class="row__label">Authors:</p>
    <p class="row__value">{{ store.book.authors().join(", ") }}</p>
  </div>

  <div class="row">
    <p class="row__label">ISBN:</p>
    <p class="row__value">{{ store.book.isbn() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Number Of Pages:</p>
    <p class="row__value">{{ store.book.numberOfPages().toLocaleString() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Publisher:</p>
    <p class="row__value">{{ store.book.publisher() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Country:</p>
    <p class="row__value">{{ store.book.country() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Media Type:</p>
    <p class="row__value">{{ store.book.mediaType() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Released:</p>
    <p class="row__value">{{ store.transformDate(store.book.released()) }}</p>
  </div>
</div>
