.link {
  text-decoration: none;
  color: #000;
  user-select: text;
}

.card {
  width: 328px;
  padding: 20px;
  min-height: 200px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 0px 12px 0px #00000026;

  &:hover {
    // background-color: #fcfef0;
    box-shadow: 0px 0px 12px 0px #000000ff;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__label {
    font-size: 18px;
  }

  &__value {
    font-size: 18px;
  }

  &__header {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
    min-height: 56px;
  }
}

.fav {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
}
