@use "../../../styles.scss";

$active-color: #feb273;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-right: 60px;

  &__logo {
    cursor: pointer;
    padding-left: 16px;
    height: styles.$navbar-height;
    width: 70px;
  }

  &__items {
    display: flex;
    height: styles.$navbar-height;
    align-items: center;
    cursor: pointer;
  }

  &__group {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    width: 140px;
    height: 100%;
    text-align: center;
    line-height: styles.$navbar-height;
    position: relative;

    &:hover {
      color: $active-color;
    }

    &-arrow {
      position: relative;
      top: 4px;
    }
  }

  &__menu {
    cursor: pointer;

    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    white-space: nowrap;
    z-index: 9;
    width: 140px;
    position: absolute;
    top: 45px;

    transition: all 200ms ease-in-out;

    &--display {
      display: block;
      visibility: visible;
      top: 45px;
      width: 140px;
      background-color: rgba(#2f2f2f, 0.85);
      max-height: 129px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    &-link {
      display: block;
      padding: 8px 24px 8px 0;
      text-align: right;
      text-decoration: none;
      font-size: 18px;
      line-height: 27px;
      color: #fff;

      &:hover {
        color: $active-color;
      }
    }
  }
}

.backdrop {
  background-color: rgba(189, 189, 189, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 5;
}
