$active-color: #feb273;

.icon {
  background-color: #2f2f2f;
  width: 54px;
  height: 100%;

  -webkit-user-select: none;
  user-select: none;

  &__box {
    position: absolute;
    left: 12px;
    top: 12px;
  }

  &__hamburger {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;
    border-radius: 3px;
  }

  &__hamburger:not(:last-child) {
    display: block;
    margin-bottom: 6px;
  }
}

.menu {
  background-color: #424242;
  height: 100vh;
  position: absolute;
  z-index: 10;
  transition: all 100ms ease-in-out;

  &--open {
    width: 250px;
    visibility: visible;
  }
  &--close {
    width: 0;
    visibility: hidden;
  }

  &__container {
    list-style: none;
    overflow: hidden;
    white-space: nowrap;
  }

  &__link {
    padding: 8px 0 8px 16px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
    display: block;
  }

  &__group {
    &-header {
      display: flex;
      justify-content: space-between;
      padding: 8px 16px 8px 16px;
      color: #fff;
      font-size: 18px;
      line-height: 27px;
      // border: 1px solid blue;

      &--active {
        background-color: #feb273;
      }
    }

    &-list {
      visibility: hidden;
      padding-left: 24px;
      max-height: 0;
      transition: all 300ms ease-in-out;
      overflow: hidden;

      &--expanded {
        visibility: visible;
        max-height: 126px; // 43*3
        transition: all 300ms ease-in-out;
        z-index: 10;
      }
    }
  }

  &__expand-icon {
    font-size: 24px;
  }

  &--active {
    color: $active-color;
  }
}

.backdrop {
  background-color: rgba(189, 189, 189, 0.6);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
