<div class="icon" (click)="store.toggleNav()">
  <div class="icon__box">
    <span class="icon__hamburger"></span>
    <span class="icon__hamburger"></span>
    <span class="icon__hamburger"></span>
  </div>
</div>

<div
  [ngClass]="{
    menu: true,
    'menu--open': store.displayMenu(),
    'menu--close': !store.displayMenu()
  }"
>
  <div class="menu__container">
    <a routerLink="/" (click)="store.closeNav()" class="menu__link">Home</a>
    <div class="menu__group">
      <div>Favorites</div>
      <div class="menu__expand-icon">></div>
    </div>
    <div class="menu__group">
      <div>Lists</div>
      <div class="menu__expand-icon">></div>
    </div>
  </div>
</div>

@if (store.displayMenu()) {
<div class="backdrop" (click)="store.toggleNav()"></div>
}
