.icon {
  background-color: #000;
  cursor: pointer;
  width: 54px;
  padding: 12px;

  -webkit-user-select: none;
  user-select: none;

  &__hamburger {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;
    border-radius: 3px;
  }

  &__hamburger:not(:last-child) {
    display: block;
    margin-bottom: 6px;
  }
}

.animate-toggle {
  animation: toggle 1s;
}

.menu {
  background-color: #424242;
  height: 100vh;
  position: absolute;
  z-index: 2;
  transition: all 150ms ease-in-out;

  &__links {
    color: #fff;
    padding: 16px;
    list-style: none;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid red;

    overflow: hidden;
    white-space: nowrap;
  }

  &__link {
  }

  &--open {
    width: 250px;
    opacity: 1;
    visibility: visible;
  }
  &--close {
    width: 0;
    opacity: 1;
    visibility: hidden;
  }
}

.backdrop {
  background-color: rgba(189, 189, 189, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
