.icon {
  background-color: #000;
  cursor: pointer;
  width: 54px;
  padding: 12px;

  -webkit-user-select: none;
  user-select: none;

  &__hamburger {
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;
    border-radius: 3px;
  }

  &__hamburger:not(:last-child) {
    display: block;
    margin-bottom: 6px;
  }
}

.menu {
  background-color: #424242;
  width: 250px;
  height: 100vh;
  position: absolute;
  z-index: 2;
}

.backdrop {
  background-color: rgba(189, 189, 189, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
