@use "../styles.scss";

.navbar-mobile {
  display: block;
  background-color: #2f2f2f;
  height: styles.$navbar-height;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-non-mobile {
  display: none;
}

.main {
  padding-top: styles.$navbar-height;
  padding-bottom: 60px;
}

@media screen and (min-width: 441px) {
  .navbar-mobile {
    display: none;
  }

  .navbar-non-mobile {
    display: block;
    background-color: #2f2f2f;
    height: styles.$navbar-height;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
  }
}

// for tablets screen
/* Landscape*/
@media screen and (min-width: 1366px) and (max-height: 1024px) and (orientation: landscape) {
  .main {
    padding-bottom: 200px;
  }
}

/* Portrait*/
@media screen and (min-width: 768px) and (max-height: 1368px) and (orientation: portrait) {
  .main {
    padding-bottom: 460px;
  }
}
