<div class="container">
  <div class="row">
    <p class="row__label">name:</p>
    <p>{{ store.character.name() }}</p>
  </div>
  <div class="row">
    <p class="row__label">gender:</p>
    <p>{{ store.character.gender() }}</p>
  </div>
  <div class="row">
    <p class="row__label">culture:</p>
    <p>{{ store.character.culture() }}</p>
  </div>
  <div class="row">
    <p class="row__label">born:</p>
    <p>{{ store.character.born() }}</p>
  </div>
  <div class="row">
    <p class="row__label">died:</p>
    <p>{{ store.character.died() }}</p>
  </div>
  <div class="row">
    <p class="row__label">titles:</p>
    <p>{{ store.character.titles() }}</p>
  </div>
  <div class="row">
    <p class="row__label">aliases:</p>
    <p>{{ store.character.aliases() }}</p>
  </div>
  <div class="row">
    <p class="row__label">father:</p>
    <p>{{ store.character.father() }}</p>
  </div>
  <div class="row">
    <p class="row__label">mother:</p>
    <p>{{ store.character.mother() }}</p>
  </div>
  <div class="row">
    <p class="row__label">spouse:</p>
    <p>{{ store.character.spouse() }}</p>
  </div>
  <div class="row">
    <p class="row__label">allegiances:</p>
    <p>{{ store.character.allegiances() }}</p>
  </div>
  <div class="row">
    <p class="row__label">books:</p>
    <p>{{ store.character.books() }}</p>
  </div>
  <div class="row">
    <p class="row__label">povBooks:</p>
    <p>{{ store.character.povBooks() }}</p>
  </div>
  <div class="row">
    <p class="row__label">tvSeries:</p>
    <p>{{ store.character.tvSeries() }}</p>
  </div>
  <div class="row">
    <p class="row__label">playedBy:</p>
    <p>{{ store.character.playedBy() }}</p>
  </div>
</div>
