<div class="container">
  <div class="row">
    <p class="row__label">name:</p>
    <p>{{ store.house.name() }}</p>
  </div>

  <div class="row">
    <p class="row__label">region:</p>
    <p>{{ store.house.region() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Coat Of Arms:</p>
    <p>{{ store.house.coatOfArms() }}</p>
  </div>

  <div class="row">
    <p class="row__label">words:</p>
    <p>{{ store.house.words() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Titles:</p>
    <p>{{ store.house.titles() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Seats:</p>
    <p>{{ store.house.seats() }}</p>
  </div>

  <div class="row">
    <p class="row__label">Current Lord:</p>
    <p>{{ store.house.currentLord() }}</p>
  </div>

  <div class="row">
    <p class="row__label">heir:</p>
    <p>{{ store.house.heir() }}</p>
  </div>

  <div class="row">
    <p class="row__label">overlord:</p>
    <p>{{ store.house.overlord() }}</p>
  </div>

  <div class="row">
    <p class="row__label">founded:</p>
    <p>{{ store.house.founded() }}</p>
  </div>

  <div class="row">
    <p class="row__label">founder:</p>
    <p>{{ store.house.founder() }}</p>
  </div>

  <div class="row">
    <p class="row__label">diedOut:</p>
    <p>{{ store.house.diedOut() }}</p>
  </div>

  <div class="row">
    <p class="row__label">ancestralWeapons:</p>
    <p>{{ store.house.ancestralWeapons() }}</p>
  </div>

  <div class="row">
    <p class="row__label">cadetBranches:</p>
    <p>{{ store.house.cadetBranches() }}</p>
  </div>

  <div class="row">
    <p class="row__label">swornMembers:</p>
    <p>{{ store.house.swornMembers() }}</p>
  </div>
</div>
