<div class="container">
  @if (store.isLoading()) { @for (card of store.characterSkeletons(); track
  $index) {
  <div class="card">
    <app-com-card-skeleton></app-com-card-skeleton>
  </div>
  }
  <!-- fill empty spaces -->
  @for (item of store.booksEmptySpace(); track $index) {
  <div class="empty">
    <app-com-card-fill-empty></app-com-card-fill-empty>
  </div>
  } } @else { @for (book of store.books(); track $index) {
  <div class="card">
    <app-com-card-book
      [redirectTo]="getDetailsPath(book.url)"
      [name]="book.name"
      [authors]="book.authors"
      [numberOfPages]="book.numberOfPages"
      [released]="book.released"
    ></app-com-card-book>
  </div>
  }

  <!-- fill empty spaces -->
  @for (item of store.booksEmptySpace(); track $index) {
  <div class="empty">
    <app-com-card-fill-empty></app-com-card-fill-empty>
  </div>
  }}
</div>
