@use "../../../styles.scss";

.card {
  display: block;
  margin-bottom: 20px;
}

.empty {
  display: none;
}

@media screen and (min-width: styles.$non-mobile-bp) {
  .container {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    border: 1px solid red;
  }

  .empty {
    display: block;
  }
}
