<div class="layout">
  <h1 class="header">Favorites Houses</h1>
  @if (!store.houses().length) {
  <p class="emptyText">No favorite houses</p>
  } @else {
  <div class="container">
    @if (store.isLoading()) { @for (card of store.houses(); track $index) {
    <div class="card">
      <app-com-card-skeleton></app-com-card-skeleton>
    </div>
    }
    <!-- fill empty spaces -->
    @for (item of store.emptySpace(); track $index) {
    <div class="empty">
      <app-com-card-fill-empty></app-com-card-fill-empty>
    </div>
    } } @else {
    <!-- Real data -->
    @for (house of store.housesData(); track $index) {
    <div class="card">
      <app-com-card-house
        [redirectTo]="store.getDetailsPath(house.url)"
        [name]="house.name"
        [region]="house.region"
        [words]="house.words"
        [seats]="house.seats"
      ></app-com-card-house>
    </div>
    }
    <!-- fill empty spaces -->
    @for (item of store.emptySpace(); track $index) {
    <div class="empty">
      <app-com-card-fill-empty></app-com-card-fill-empty>
    </div>
    } }
  </div>
  }
</div>
