/* You can add global styles to this file, and also import other style files */

$non-mobile-bp: 441px;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

// ol,
// ul {
//   padding-left: 16.4px;
// }
