/* You can add global styles to this file, and also import other style files */

$non-mobile-bp: 441px;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
